<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Summary</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="container mt-4">
    <h2 class="text-center">Stock Summary</h2>
    <h3 class="text-center" th:text="${stockSummary.get(0).date}"></h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Stock Start</th>
          <th>Stock End</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="summary : ${stockSummary}">
          <td th:text="${summary.productName}"></td>
          <td th:text="${summary.stockStart}"></td>
          <td th:text="${summary.stockEnd}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>